.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  color: #fff;
}

.Navbar a {
  margin-left: 20px;
  color: #ddd;
  text-decoration: none;
  padding: 15px;
}

.Navbar a:hover {
  cursor: pointer;
  color: #f9f9f9;
}

.Footer {
  background-color: rosybrown;
  padding: 15px;
  color: #fff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
}
